<div class="container mt-5">
  <div class="row">
    <h3>Users List</h3>
    <p-table [columns]="cols" [value]="userSet" [paginator]="true" [rows]="50">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">{{col.header}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-a="rowIndex" let-columns="columns">
        <tr>
          <td style="width:200px" tooltipPosition="top" placeholder="Top" 
            *ngFor="let col of columns" [ngSwitch]="col.field">
            <div *ngSwitchCase="'sno'">
              {{ a + 1 }}
            </div>
            <div *ngSwitchCase="'userName'">
                {{ rowData[col.field] }}
            </div>
            <div *ngSwitchCase="'emailId'">
                {{ rowData[col.field] }}
            </div>
            <div *ngSwitchCase="'phone'">
                {{ rowData[col.field] }}
            </div>
            <div *ngSwitchCase="'courseEnrolled'" class="text-center">
              {{ rowData[col.field].length == 0 ? '-':''}}
              <select *ngIf="rowData[col.field].length > 0" name="" id="" style="width: 100%;">
                <option *ngFor="let subcol of rowData[col.field]">{{subcol.courseName}}</option>
              </select>
            </div>
            <!-- {{col.field == 'courseEnrolled' ? rowData[col.field].length:''}}
            {{rowData[col.field]}} -->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

