<div class="container">
  <p-growl [value]="msgs"></p-growl>
  <div class="row default-margin-top">
    <div class="col">
      <p-panel header="Create New Category">
        <form class="row" autocomplete="off" #cat="ngForm" (ngSubmit)="onSubmit();cat.reset()">
          <div class="col">
            <div class="form-group">
              <label>Category Title</label>
              <input type="text" class="form-control" placeholder="Category Title" name="categoryName" #categoryTitle="ngModel"
                [(ngModel)]="categoryForm.categoryName" required pattern="^[a-zA-Z0-9_ .-]*$">
              <div class="error-message" *ngIf="categoryTitle.errors?.required && categoryTitle.touched">
                Field is required
              </div>
              <div class="error-message" *ngIf="categoryTitle.errors?.pattern && categoryTitle.touched">
                only text and numbers
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Category Image (Ratio: 250 X 200)</label>
              <input type="file" class="form-control" placeholder="Image 250 X 200" name="categoryImage" #categoryImage="ngModel"
                (change)="uploadCategoryImage($event, categoryImage)" [(ngModel)]="categoryImage.categoryimg" required>
              <div class="error-message" *ngIf="categoryImage.errors?.required && categoryImage.touched">
                Field is required
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>&nbsp;</label>
              <button type="submit" [disabled]="cat.invalid" class="btn btn-success btn-block common-input-height">
                Save Category </button>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
  </div>
  <div *ngIf="false">
    <button class="btn btn-success" (click)="addsubAdmin()">sub admin</button>
  </div>
  <div class="row default-margin-top">
    <div class="col">
      <p-panel>
        <p-header>
          List of Categories
          <button type="button" class="btn btn-primary pull-right" (click)="category.exportCSV()">Export CSV</button>
        </p-header>
        <p-dataTable class="text-center" #category [value]="categoryList" [editable]="true" [paginator]="true"
          exportFilename="categoryList" [rowsPerPageOptions]="[5,10,20, 50, 100, 500, 1000]" [loading]="tableLoading"
          [responsive]="true" (onEditComplete)="valuesUpdated($event)" [rows]="10" sortField="categoryName" [sortOrder]="1"
          [resizableColumns]="true">
          <p-column field="categoryName" header="Title" [editable]="true" filter="true" sortable="true"></p-column>
          <p-column field="course" filter="true" sortable="true" header="Courses">
          </p-column>
          <p-column field="createdOn" filter="true" sortable="true" header="Created"></p-column>
          <p-column field="status" filter="true" [editable]="true" sortable="true" header="Status">
            <ng-template let-col let-data="rowData" let-ri="rowIndex" pTemplate="body">
              <span>{{ (data[col.field]) ? 'InActive' : 'Active' }}</span>
            </ng-template>
            <ng-template let-col let-data="rowData" let-ri="rowIndex" pTemplate="editor">
              <p-dropdown [(ngModel)]="data[col.field]" [options]="dropDownEditatbleStatusOption" (onChange)="courseActiveAndInactive(data)"
                [autoWidth]="false" appendTo="body" [style]="{'width':'100%'}" required="true">
              </p-dropdown>
            </ng-template>
          </p-column>
        </p-dataTable>
      </p-panel>
    </div>
  </div>
  <p-confirmDialog></p-confirmDialog>
</div>