<div class="container">
    <div class="row">
        <div class="col-md-12 default-margin-top">
            <h2 class="text-center">COURSE FAQ</h2>
            <form autocomplete="off" #courseFaqForm="ngForm" (ngSubmit)="submitCourseFaqForm();courseFaqForm.reset()">
                <div class="form-group">
                    <label>Question <span class="asterik">*</span></label>
                    <input type="text" class="form-control" name="question" [(ngModel)]="courseFaqObj.question"
                        #question="ngModel" required>
                    <div class="error-message" *ngIf="question.invalid && question.touched">This field is required</div>
                </div>
                <div class="form-group">
                    <label>Answer <span class="asterik">*</span></label>
                    <textarea style="height: 150px;" class="form-control" name="answer" [(ngModel)]="courseFaqObj.answer"
                        #answer="ngModel" required></textarea>
                    <div class="error-message" *ngIf="answer.invalid && answer.touched">This field is required</div>
                </div>
                <div class="form-group text-right">
                    <button [disabled]="courseFaqForm.invalid" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="faqQuestions" class="row">
        <ng-container *ngFor="let x of faqQuestions">
            <div class="col-10">
                <p-accordion>
                    <p-accordionTab header="{{x.question}}">
                        <p>{{x.answer}}</p>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="col-2">
                <button (click)="deleteFaq()" class="btn btn-danger">Delete</button>
            </div>
        </ng-container>
    </div>
</div>