<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 mt-5 banner-image">
            <div class="text-right" style="margin: 15px 0"
            *ngIf="global.checkRollsAndPermission(136) && global.checkRollsAndPermission(137)">
                <button class="btn btn-success" (click)="viewAllBannerImages()">{{(!addedBannerImages) ? 'View All' : 'Add'}} Banner Images</button>
            </div>
            <form *ngIf="!addedBannerImages" autocomplete="off" #bannerImageForm="ngForm" 
            (ngSubmit)="onSubmit();bannerImageForm.reset()">
                <div class="form-group">
                    <label>Upload Image (Image size 1500*350)</label>
                    <input type="file" class="form-control" name="uploadImage" 
                    [(ngModel)]="bannerImageFormData.image" #image="ngModel" 
                    (change)="uploadCategoryImage($event, image)"
                        required>
                        Upload Percent: {{percentDone}}%
                    <div class="error-message" *ngIf="image.invalid && image.touched"
                    >Please Upload the image</div>
                    <div *ngIf="bannerImageFormData.image">
                        <img style="width: 150px;height: 100px;" [src]="imagePath + bannerImageFormData.image" alt="banner-image">
                    </div>
                </div>
                <div class="form-group">
                    <label>Image Title</label>
                    <input type="text" class="form-control" name="imageTitle" 
                    [(ngModel)]="bannerImageFormData.imageTitle" #imageTitle="ngModel">
                </div>
                <div class="form-group">
                    <label>Image Description (maximum 50 Characters only)</label>
                    <input type="text" class="form-control" name="description"
                    maxlength="50"
                     [(ngModel)]="bannerImageFormData.description">
                </div>
                <div class="form-group">
                    <label>Link on Image</label>
                    <input type="text" class="form-control" name="link" 
                    [(ngModel)]="bannerImageFormData.link">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-success" 
                    [disabled]="bannerImageForm.invalid && (bannerImageFormData.image == '')"
                    >{{ updateButton ? 'update':'submit'}}</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="addedBannerImages" class="row">
        <div class="col-10 offset-1 mt-5 banner-images-table text-center">
            <table class="table table-bordered">
                <thead>
                    <th>S.no</th>
                    <th>Image</th>
                    <th>Created on</th>
                    <th *ngIf="global.checkRollsAndPermission(141)">Status</th>
                    <th *ngIf="global.checkRollsAndPermission(138) &&
                    (global.checkRollsAndPermission(139) || 
                    global.checkRollsAndPermission(140))">Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let x of addedBannerImageData;let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <a (click)="showDialog(x.image)">View Images</a>
                        </td>
                        <td>{{x.createdOn}}</td>
                        <td *ngIf="global.checkRollsAndPermission(141)">
                            <button class="btn" [ngClass]="{
                                'btn-success':x.status == 0,
                                'btn-danger':x.status == 1
                              }"
                             (click)="activeAndInactiveBannerImages(x._id, x.status)">{{(x.status == 0) ? 'Active' : 'Inactive'}}</button>
                        </td>
                        <td *ngIf="global.checkRollsAndPermission(138) &&
                        (global.checkRollsAndPermission(139) || global.checkRollsAndPermission(140))">
                            <div class="d-inline mr-3" title="Edit"
                            *ngIf="global.checkRollsAndPermission(139)">
                                <button class="btn p-2 border text-light rounded bg-primary" (click)="editImageBanner(x._id)"><i class="fa fa-edit"></i></button>
                            </div>
                            <div class="d-inline" (click)="openConfirmation(x._id)" title="Delete"
                            *ngIf="global.checkRollsAndPermission(140)">
                                <button class="p-2 border rounded text-light bg-dark"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p-dialog header="Image" [(visible)]="display" [modal]="true" [responsive]="true" [width]="1000" [minWidth]="400" [minY]="70"
                [baseZIndex]="10000" [positionTop]="50" [resizable]="true">
                <div *ngIf="displayTheImageInDialogBox">
                    <img style="width: 100%" [src]="imagePath + displayTheImageInDialogBox" alt="banner-image">
                </div>
                <p-footer>
                    <button class="btn btn-success" type="button" (click)="display=false">OK</button>
                </p-footer>
            </p-dialog>
            <p-dialog header="Delete Confirmation" [(visible)]="statusConfirmBox" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
            [baseZIndex]="10000">
                <input id="" type="hidden" value="{{bannerId}}">
                <span>Are you sure..?</span>
                    <p-footer>
                        <button type="button" pButton icon="pi pi-check" (click)="deleteImageBanner()" label="Yes"></button>
                        <button type="button" pButton icon="pi pi-close" (click)="statusConfirmBox=false" label="No" class="ui-button-secondary"></button>
                    </p-footer>
            </p-dialog>
        </div>
    </div>
</div>